h1{
    >a{
        @include hideLogo;
        @include laptop{
            width: 200px;
            height: 80px;
        }
    }
}

.bg-image{
    background: url(../images/bg.png);
}
.bg-quote-mobile{
    background: url(../images/quote_mobile.png) no-repeat center center;
    background-size:cover;
}

.media{
    i{
        font-size: 44px;
    }
    @include laptop{
        margin-left: 90px !important;
    }
}
.navheader{
    border-bottom: 2px solid $primary;
}
.navbar{
    @include laptop{
        flex-direction: column;
    }
}
.nav-link{
    @include laptop{
                border-right: 1px solid;
    }
}
.navbar-expand-lg{
    flex-wrap: wrap;
}

// .navbar-toggler{
//     &::before{
//         content: "";
//         position: absolute;
//         width: 20px;
//         height: 2px;
//         top: 13px;
//         right: 12px;
//         background:$primary;
//     }
    
//     .hamburger{
//         position: absolute;
//         width: 20px;
//         height: 2px;
//         top: 21.53px;
//         right: 12px;
//         background:$primary;
//     }
    
//     &::after{
//         content: "";
//         position: absolute;
//         width: 20px;
//         height: 2px;
//         top: 31px;
//         right: 12px;
//         background:$primary;
//     }
// }

// .collapsed .navbar-toggler{
//     .hamburger{
//         opacity: 0;
//     }  
// }

.navbar-nav{
    @include laptop{
        border:0px !important;
    }
}
.nav-item{
    @include laptop{
        border:0px !important;
    }
}
.navshow{
    display: none;
    @include laptop{
        display: block;
    }
}
.menu-check{
    display: none;
}
.menu-open-button, .ham, .navhide{
    @include laptop{
        display: none;
    }
}
.ham{
    width: 30px;
    height: 30px;
    &:hover{
        cursor: pointer;
    }
    span {
        position: absolute;
        height: 2px;
        width: 20px;
        background: $primary;
        transform-origin: -20% ;
        z-index:6 ;
        transition: 0.25s ease-in-out; 
        &:nth-child(1){
            top: 28px;
            right: 12px;
            z-index:6 ;
        }
        &:nth-child(2){
            top: 38px;
            right: 12px;
            z-index:6 ;
        }
        &:nth-child(3){
            top: 48px;
            right: 12px;
            z-index:6 ;
        }
    }
}

.menu-check:checked+.menu-open-button span:nth-child(1) {
    transform: rotate(45deg);
}
.menu-check:checked+.menu-open-button span:nth-child(2) {
    transform: scaleX(0);
}
.menu-check:checked+.menu-open-button span:nth-child(3) {
    transform: rotate(-45deg);
}

.collapsed .navbar-toggler{
    border: 0;
}

.dropdown{
    // display: none;
    &:hover{
        .dropdown-menu{
            display: block;
        }
    }
}