@mixin iphone{
    @media(min-width: 576px){
        @content
    }
}
@mixin ipad{
    @media(min-width: 768px){
        @content
    }
}
@mixin laptop{
    @media(min-width: 992px){
        @content
    }
}

@mixin hideLogo{
    width: 100px;
    height: 50px;
    background: url(../images/logo-nav-2.png) center center no-repeat;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

