// font-size setting
@each $name,
$pixel in $grid-breakpoints {
    @if ($pixel >=map-get($map: $grid-breakpoints, $key: sm)) {
        @media (min-width: $pixel) {

            @each $num,
            $value in $font-sizes {
                .fs-#{$name}-#{$num} {
                    font-size: $value  !important;
                }
            }
        }
    }
}

;

//color settings
@each $name,
$pixel in $grid-breakpoints {
    @if ($pixel >=map-get($map: $grid-breakpoints, $key: sm)) {
        @media (min-width: $pixel) {

            @each $colorname,
            $color in $colors {
                .text-#{$name}-#{$colorname} {
                    color: $color  !important;
                }
            }
        }
    }
}

;

// setting font-weight
.fw-medium {
    font-weight: 500;
}

//setting position
.end-lg-100 {
    @include laptop {
        left: 0 !important;
    }
}

// image set
.image-cover {
    object-fit: cover;
}

.image-contain {
    object-fit: contain;
}

.image-fill {
    object-fit: fill;
}

.img-bottom{
    object-position: bottom;
}

//point
.point {
    cursor: pointer;
}

//ul、li
.no-space {
    margin: 0;
    padding: 0;
}

// ratio
.ratio-9_16 {
    aspect-ratio: 9/16;
}

// image hover
.img-hover {
    overflow: hidden;
    transform: scale(1, 1);
    transition: all .3s ease-out;

    &:hover {
        transform: scale(1.05, 1.05);
    }
}

.text-show:hover {
    .text-show {
        display: block !important;
        transition: all .5s;
    }
}

.text-onboard {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white;
        font-size: 48px;
        font-weight: 700;
        transform: translate(-50%, -50%);
}

.img-scale:hover{
    overflow: hidden;
    img{
        transform: scale(1.05);
        transition: all .5s;
    }
}