//navside 
.navList{
    position: fixed;
}
.navList-hover{
    &:hover{
        color: $secondary;
        background-color: $primary;
    }
}

// card
.card{
    border-radius: 4px;
    height: unset;
}
.card-body{
    background: #fff;
    span{
        color: orangered;
    }
}
.card-bg{
    background: url(../images/pic_mobile.png) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    @include ipad{
        background: url(../images/pic.png) no-repeat center center cover;
    }
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: $secondary;
        opacity: 0.6;
        top: 0;
        left: 0;
        z-index: -1;
    }
}


// pagination
.page{
    border: 3px solid $primary;
    border-radius: 100%;
    padding:10px 10px;
    &:hover{
        color:white;
        background: $primary;
    }
}

//List
.list-group-item-title{
    color: $base;
    background: $secondary;
    border-bottom: 1px dashed #000;
}
.list-group-item-hover{
    &:hover{
        color: #fff;
        background: $primary;
    }
}

// swiper
.swiper-pagination-color{
    span{
        background: $primary;
    }
}

// card img hover
.card-hover:hover {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha: .5);
        transition: .5s;
    }
}



